@media (max-width:767px) {
    .main-container{
        width: 100%;
        height: 30vh;
        margin-left: 0;
        padding: 0.5rem;
      }
      .box-number{
        padding: 0.7rem;
        width: 90%;
        margin-left: 1rem;
      }
      #difficulty{
        padding-left: 1rem;
        width: 40%;
      }
      .start-game{
        margin-top: 2rem;
        width: 40%;
      }
      .box-container{
        margin-top: 0.5rem;
        gap: 0.5rem;
      }
      .box{
        height: 70px;
        width: 70px;
       
      }
      .restart{
        font-size: 1.5rem;
      }
       h1{
        font-size: 2rem;
      }
     
}